<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <style> body {padding: 0; margin: 0;} </style>
    <script src="p5/p5.js"></script>
  {% if dom %}
    <script src="p5/p5.dom.js"></script>
  {% endif %}
  {% if sound %}
    <script src="p5/p5.sound.js"></script>
  {% endif %}
  {% for script in scripts %}
    <script src="{{ sketch }}/{{ script }}"></script>
  {% endfor %}
  </head>
  <body>
  </body>
</html>
